<%= render "base" %>

<div class="page-header">
  <h1><%= t("admin.pages.api.v1") %>API</h1>
</div>
<div class="api-description">
  <blockquote class="error">
    <p class="text-error">此API参考文档已不能使用。</p>
    <small>最后更新时间 2012-12-06 21:45</small>
  </blockquote>
</div>
