<% render "base" %>
<div id="server">
  <div class="page-header">
    <h1>服务器信息</h1>
  </div>
  <%= render "status" %>
  <div class="page-header">
    <h1>服务器日志</h1>
  </div>
  <textarea class="log"><%= @server_logs %></textarea>
</div>