<% render "base" %>
<div id="server">
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">×</a>
    <strong>V0.2.0</strong>功能新增API查阅功能，<a href="<%= v2_admin_api_index_path %>">查看</a>
  </div>
  <div class="page-header">
    <h1>服务器信息</h1>
  </div>
  <%= render "status" %>
  <div class="page-header">
    <h1>服务器日志</h1>
  </div>
  <textarea class="log"><%= @server_logs %></textarea>
</div>