<% render "base" %>
<div id="server">
  <%= render "messages" %>
  <div class="page-header">
    <h1>服务器信息</h1>
  </div>
  <%= render "status" %>
  <div class="page-header">
    <h1>服务器日志</h1>
  </div>
  <div id="msg" class="prettyprint">
      <pre id="log_msg"><%= @server_logs %></pre>
  </div>
</div>