/*
 *= require application
 *= require_self
 */

@import "twitter/bootstrap/mixins";

body { 
	color: #333;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

textarea.log {
  width: 906px;
  height: 200px;
  min-width: 906px;
  max-width: 906px;
  min-height: 200px; 
}

.page-header {
  padding-bottom: 0;
  margin: 20px 0 20px;
  h1 {
    font-size: 30px;
  }
}

/* api */
.api-description {
  padding: 0 10px;
  blockquote {
    background-color: #E5ECF9;
    border-left-color: #36C;
    padding: 5px 0 5px 15px;
    p {
      font-size: 14px;
      font-weight: bold;
    }
  }
  blockquote.error {
    background-color: #F2DEDE;
    border-left-color: #B94A48;
  }
}
.api-list {
  padding: 0 10px;
  margin-bottom: 40px;
}
.api-content {
  padding: 0 10px;
  .api {
    margin-bottom: 10px;
    background: #f7f7f7;
    h3 {
      margin: 0;
      background: #08C;
      color: #fff;
      padding-left: 10px;
    }
    dl {
      margin-bottom: 0;
      margin-top: 5px;
      dt {
        margin: 5px 0;
        font-weight: bold;
      }
    }
    h6 {
      margin-bottom: 3px;
    }
    small {
      margin-top: 10px;
      display: block;
      &::before {
        content: '\2014 \00A0';
      }
    }
    table {
      margin-bottom: 0;
    }
  }
}

/* 表格 */
.table-bordered {
	th, td {
		border-left: none;
		vertical-align: inherit;
		&:first-child {
			border-left: 1px solid #ccc;
			text-align: center;
			width: 40px;
		}
		&.action {
			text-align: center;
			width: 100px;
			a {
				display: inline-block;
				padding: 0 3px;
				color: #333;
				text-decoration: none;
				&:hover {
					color: #9d261d;
				}
			}
		}
		&.date {
			width: 100px;
		}
    &.num {
      width: 50px;
      text-align: center;
    }
		&.content {
			padding: 4px 8px;
			h6 {
				margin: 0;
				font-size: 13px;
				color: #08c;
			}
			.description {
				color: #999;
				font-size: 12px;
			}
		}
	}
	input[type="checkbox"] {
		margin: 0;
	}
	td:first-child {
		padding: 7px 8px 6px 8px;
	}
}

/* 表格页脚 */
.table-footer {
	.paginates-info {
		width: 29%;
		float: left;
		height:36px;
		line-height:36px;
	}
	.pagination {
		width: 70%;
		float: right;
		margin: 0;
		text-align: right;
	}
}

.simple_form {
	legend + .control-group {
		margin-top: 0;
	}
	textarea.span100 {
		width: 906px;
		height: 80px;
		max-width: 906px;
	}
	.help-block {
		color: #999;
	}
	label.required {
    abbr { 
      color: #c00;
    }
  }
  .form-actions {
  	margin-bottom: 0;
  }
  .highest {
    height: 400px;
  }
}
.modal .simple_form {
  .longest {
    width: 516px;
  }
  textarea.highest {
    height: 80px;
  }
  textarea.longest {
    max-width: 516px;
  }
}

.navbar-static-top {
	margin-bottom: 20px;
}

.box, .breadcrumb {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  /* Clear floats */
  overflow: hidden;
}
.box {
	padding: 9px;
	background: #fff;
}
.breadcrumb {
	width: 100%;
  li {
  	float: left;
  }
  a {
  	padding: .8em 1em .7em 2em;
	  float: left;
	  text-decoration: none;
	  color: #444;
	  position: relative;
	  text-shadow: 0 1px 0 rgba(255,255,255,.5);
	  background-color: #ddd;
	  background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#ddd));
	  background-image: -webkit-linear-gradient(left, #f5f5f5, #ddd);
	  background-image: -moz-linear-gradient(left, #f5f5f5, #ddd);
	  background-image: -ms-linear-gradient(left, #f5f5f5, #ddd);
	  background-image: -o-linear-gradient(left, #f5f5f5, #ddd);
	  background-image: linear-gradient(to right, #f5f5f5, #ddd);
  }
  li:first-child a {
  	padding-left: 1em;
	  -moz-border-radius: 5px 0 0 5px;
	  -webkit-border-radius: 5px 0 0 5px;
	  border-radius: 5px 0 0 5px;
  }
  a {
  	&:hover {
	  	background: #abe0ef;
	  }
	  &::after, &::before {
	  	content: "";
		  position: absolute;
		  top: 50%;
		  margin-top: -1.5em;   
		  border-top: 1.5em solid transparent;
		  border-bottom: 1.5em solid transparent;
		  border-left: 1em solid;
		  right: -1em;
	  }
	  &::after {
	  	z-index: 2;
		  border-left-color: #ddd;
	  }
	  &::before {
	  	border-left-color: #ccc;
		  right: -1.1em;
		  z-index: 1;
	  }
	  &:hover::after {
	  	border-left-color: #abe0ef;
	  }
  }
  .current, .current:hover {
  	padding: .7em 1em .7em 2em;
  	font-weight: bold;
	  background: none;
  }
  .current::after, .current::before {
  	content: normal;
  }
}

.redactor_box {
  .redactor {
    height: 400px;
  }
}

.albums {
  .thumbnails {
    .span3 {
      width: 215px;
    }
    .thumbnail {
      width: 205px;
      height: 140px;
      line-height: 140px;
      margin: 0 auto;
      vertical-align: middle;
      display: table-cell;
      text-align: center;
      *display: block;
      *font-size:122.2px;
      *font-family:Arial;
      img {
        max-width: 205px;
        max-height: 140px;
        vertical-align: middle;
      }
    }
    .info {
      margin-top: 10px;
      padding: 0 5px;
      h3, .action {
        float: left;
        width: 70%;
        overflow: hidden;
      }
      h3 {
        font-size: 14px;
        margin: 0;
        line-height: 20px;
        height: 20px;
        color: #555;
      }
      span.badge {
        float: right;
        padding: 2px 9px;
        margin-top: 1px;
      }
      .action {
        display: none;
      }
    }
  }
}
.photos {
  .thumbnails {
    li {
      position: relative;
    }
    .span3 {
      width: 215px;
    }
    .thumbnail {
      @include border-radius(0);
      width: 205px;
      height: 140px;
      line-height: 140px;
      margin: 0 auto;
      vertical-align: middle;
      display: table-cell;
      text-align: center;
      *display: block;
      *font-size:122.2px;
      *font-family:Arial;
      img {
        vertical-align: middle;
      }
    }
    h3 {
      font-size: 14px;
      margin: 0;
      line-height: 20px;
      height: 20px;
      color: #555;
      margin-top: 5px;
      text-align: center;
    }
    .action {
      position: absolute;
      bottom: 30px;
      right: 5px;
      display: none;
    }
  }
}

.uploadfiles {
  .table {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 530px;
  }
  .files {
    .preview {
      text-align: center;
      width: 80px;
      span {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;
        line-height: 80px;
        canvas {
          vertical-align: middle;
        }
      }
    }
    .actions {
      div {
        float: left;
      }
      .progress {
        margin-top: 5px;
        width: 300px;
      }
      .action {
        margin-left: 10px;
      }
    }
  }
}

.picture {
  .wapper {
    text-align: center;
    img {
      margin: 0 auto;
      vertical-align: middle;
      max-width: 920px;
    }
  }
  .info {
    margin-top: 10px;
    text-align: center;
    .title {
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
    }
  }
}